<div class="container">
  <div class = "row">
      <div class= "col-md-3">
          <h2>User info</h2>
          <% if @user.profile_image.attached? %>
          <%= image_tag @user.profile_image, size: "100x100" %>
          <% else %>
          <%= image_tag 'no_image', size: "100x100" %>
          <% end %>

          <table class = "table">
            <tbody>
               <tr></tr>
               <tr>
                 <th>name</th>
                 <th> <%= @user.name %></th>
               </tr>
               <tr>
                 <th>introduction</th>
                 <th><%= @user.introduction %></th>
               </tr>
              </tbody>
            </table>

            <div class = "row">
              <%= link_to  edit_user_path(@user.id) ,class: "btn btn-outline-secondary btn-block"  do%>
              <span><i class="fas fa-user-cog"></i></span>
              <% end %>
            </div>

            <%= form_for(@book,  url: books_path) do |f| %>
            <h2 class = "mt-3">New book</h2>
             <div class = "form-group">
               <label>Title</label><br>
               <%= f.text_field :title, class: "col-xs-12" %>
              </div>
              <div class = "form-group">
                <label>Opinipn</label><br>
                <%= f.text_field :body, class: "col-xs-12" %>
              </div>
              <div class = "form-group">
                <%= f.submit 'Create Book',class: "col-xs-12 btn btn-success" %>
            <% end %>
            </div>
      </div>

      <div class= "col-md-8 offset-md-1">
        <h2>Books</h2>
        <table class='table table-hover table-inverse'>
          <thead>
            <tr>
              <th></th>
              <th>Title</th>
              <th>Opinion</th>
              <th colspan="3"></th>
              </tr>
          </thead>

          <tbody>
            <% @books.each do |book| %>
            <%= link_to user_path(@user.id) do %>
            <tr>
              <td><% if @user.profile_image.attached? %>
              <%= image_tag @user.profile_image, size: "50x50" %>
              <% else %>
              <%= image_tag 'no_image', size: "50x50" %>
              <% end %></td>
              <% end %>
              <td><%=link_to book.title, book_path(book.id)%></td>
              <td><%= book.body %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>